<div id="<%= dom_id apartment %>">
  <p>
    <strong>Name:</strong>
    <%= apartment.name %>
  </p>

  <p>
    <strong>Number of rooms:</strong>
    <%= apartment.number_of_rooms %>
  </p>

  <p>
    <strong>Floor number:</strong>
    <%= apartment.floor_number %>
  </p>

</div>
