.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.form {
  background: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.label {
  margin-bottom: 5px;
}

.input,
.button {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #0658b6;
  color: white;
  cursor: pointer;
  width: 50%;
}

.errorMessage {
  color: red;
  margin-bottom: 15px;
}
